*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #353b48;
}

header{
    background-color: #2f3640;
    width: 100%;
    height: 70px;

}

.header-container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.header-container h2{
    color: red;
    font-weight: bold;
}

.card-container{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 342px;
    height: 513px;
    margin: 5px;
    background-color: #808080;
    position: relative;
}

.card .overlay{
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: none;
}

.card:hover .overlay{
    display: flex;

}

.card .overlay .trama{
    overflow: auto;
}

.rating{
    color: white;
}

.rating i{
     color: #f39c12;
 }
