*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #1e1c1c;
}

header{
    background-color: #3d3d3d;
    width: 100%;
    height: 70px;

}

.header-container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.header-container h2{
    color: red;
    font-weight: bold;
}

.card-container{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.card-container h3{
  color: white;
  font-size: 35px;
  padding: 30px;
}

.movieCards{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.tvCards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card{
    width: 342px;
    height: 513px;
    margin: 5px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
}

.card .overlay{
    width: 100%;
    height: 100%;
    padding: 40px 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: none;
    transition: 0.3s;
}

.card .cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover .overlay{
    display: flex;
}

.card:hover{
    transform: scale(1.05);

}

.card .overlay .trama{
    overflow: auto;
}

.rating{
    color: white;
}

.rating i{
     color: #f39c12;
 }
